<div id="main" class="d-flex align-items-end justify-content-center">
    <div id="search-div" class="container h-25 w-75 m-3">
      <h3 class="text-center text-white m-2">Search Book</h3>
        <div class="d-flex justify-content-evenly align-items-center">
            <input class='m-2 p-3 text-center' type="text" name="bookName" placeholder="Book Name">
            <input class='m-2 p-3 text-center' type="text" name="author" placeholder="Author">
            <input class='m-2 p-3 text-center' type="text" name="genre" placeholder="Genre">
            <button id="search" type="search" class="btn-success m-2 p-3" (click)="onSearch()">Search</button>
        </div>
    </div>
</div>
